#pagebg{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    color: #efefef;
    background-color: #000;
    background: url(../img/gallery/DSC_0928.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Exo', sans-serif !important;

    /*opacity: 0.8;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    top: 0;
    bottom: 0;

}
@media screen and (min-width: 1200px) {
    .cotas-container-fluid {
        width: 1170px;
    }
}
.menuItems{
    background-color: #323232                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;

}
#cotasnav{
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 3rem;
}
#cotasnav:focus{
    background-color: white !important;
    color: black;
}
#cotasnav:hover{
    background-color: #CCCCCC !important;
    color: black;
}

.nav >#cotasnav a:active, #nav a:focus, #nav a:hover {
    color:red;
}

.activeClass{
    background-color: white;
    color: black !important;
}

.cotasnav-bar{
    background-color: black !important;
}
.cotas-container-fluid{
    padding-top: 2%;
}
.cotas-container{
    padding-top: 5%;
    max-height: 100%;
    overflow: auto;
    padding-right: 1%;
    overflow-x: hidden;
}
body{
    margin: 0px;
    padding: 0px;
}
.contact-row{
    margin-bottom: 5%;

}
.contact-block{
    height:55%;
}
.cotas-form{
    background-color: #363636;
    text-align: left;
    border: 1px solid white;
    padding: 5%;
}
.contact-container{
    padding-top: 10%;
}


@media screen and (min-width: 700px) {
    .gallery-col{
        width: 19.99%;
    }
}
@media screen and (max-device-width: 480px) {
    .gallery-col{
        width: 100%;
    }
}

#myModal .modal-dialog  {width:75%;margin-top: 1%;}
span.carousel-control:hover{
    cursor: pointer;
}
.review-block{
    text-align: left;
    margin: 0.5%;
    position: inherit;
    padding: 1%;
}
.outer-block{
    background:rgba(0,0,0,0.8);
    padding: 2%;
    max-height: 100%;
    margin-bottom: 5%;
}
.inner-block-text{
    opacity: 0.99 !important;
    color: #fff;
    font-size: 18px !important;
}
#review-stars:hover{
    cursor: pointer;
    color: #b81900;
}
.reviewhover{
    color: #b81900;
}

.reviewclass{
}
.filled {
    color: #ffc520 !important;
}
.reduceFont{
    font-size: 8px !important;
}
.glyphicon.glyphicon-star:hover{
    cursor: pointer;
}

.validation-fail{
    color: red;
    margin-left: 5px;
}
.validation-fail-input{
    border-color: red;
}
.colorHeader{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.status-success{
    color: #00907c;
    font-weight: bold;
}

.img-responsive:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modalAlbum>.modal-dialog{
    width: 80%;
}
.lgImage {
    background-color: white;
    text-align:center;
    margin: auto;
}

@media screen and (min-width: 700px) {
    .largeWindow{
        height: 600px !important;
    }
}
@media screen and (max-device-width: 480px) {
    .lgImage{
        pointer-events: none;
    }
}
/* style.css */

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }


#style-14::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

#style-14::-webkit-scrollbar
{
    width: 1px;
    background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    transparent 100%,
    rgba(0, 0, 0, 1) 75%,
    transparent)
}

.site-text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8 !important;
    font-size: 1.4rem !important;
    letter-spacing: 2px;
}
.site-text > p{
    font-size: 18px;
}