<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div class="row outer-block">
        <div class="col-md-6 inner-block-text ">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading colorHeader filled">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
            <div class="row contact-row">
                <div class="col-sm-6 text-center">
                    <div class="service-box contact-block">
                        <i class="fa fa-phone fa-3x" ng-class=""></i>
                        <h4 class=" colorHeader">Phone</h4>
                        <p>{{contactData.contact1}}</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="service-box contact-block">
                        <i class="fa fa-envelope-o fa-3x"></i>
                        <h4 class=" colorHeader">Mail us</h4>
                        <p><a ng-href="mailto:{{contactData.email}}" style="color: white">{{contactData.email}}</a></p>
                    </div>
                </div>
            </div>
            <div class="row contact-row">
                <div class="col-sm-6 text-center">
                    <div class="service-box contact-block">
                        <i class="fa fa-home fa-3x"></i>
                        <h4 class=" colorHeader">Address</h4>
                        <p class="">{{contactData.address}}</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="service-box contact-block">
                        <i class="fa fa-connectdevelop fa-3x"></i>
                        <h4 class=" colorHeader">Connect with us</h4>
                        <p class="text-muted">
                            <a target="_blank" ng-href="{{contactData.facebooklink}}"><img width="50" height="50" src="img/contacts/facebookicon.png" /></a>
                            <a target="_blank" ng-href="{{contactData.twtterlink}}"><img width="50" height="50" src="img/contacts/twittericon.png" /></a>
                            <a target="_blank" ng-href="{{contactData.googlepluslink}}"><img width="50" height="50" src="img/contacts/googleplusicon.png" /></a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">
            <form class="cotas-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ng-model="contact.name" name="name" id="name" placeholder="Please enter your name">
                    <span class="validation-fail" ng-show="nameValidationFailed">Please enter your name</span>
                </div>
                <div class="form-group">
                    <label for="phone">Contact Number</label>
                    <input type="text" class="form-control" ng-model="contact.phone" name="phone" id="phone" placeholder="Please enter your contact number">
                </div>
                <div class="form-group">
                    <label for="email" class=" text-left">Email</label>
                    <input type="email" class="form-control" ng-model="contact.email" name="email" id="email" placeholder="Please enter your email address">
                    <span class="validation-fail" ng-show="emailValidationFailed">Please enter your email address</span>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" rows="5" ng-model="contact.message" name="message" id="message" placeholder="Please enter your message"/>
                    <span class="validation-fail" ng-show="messageValidationFailed">Please enter your message</span>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" value="Submit" ng-click="contactUs()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>