<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div class="container-fluid" style="background-color: white">
        <div class="row no-gutter">
            <span ng-repeat="image in images">
                <div class="gallery-col col-sm-6" style="padding: 1% 1%;">
                    <img ng-src="{{image}}" width="" class="img-responsive" ng-click="getFullImage(image, 'lg')" alt="">
                </div>
            </span>
        </div>
    </div>
</div>

<!-- Modal -->
<span ng-controller="AlbumModalController">
<script type="text/ng-template" id="imageModal">
    <div class="lgImage" >
    <img ng-src="{{currentImage}}" class="imagepreview" ng-class="{largeWindow: height1}" >
    </div>
    <span class="left carousel-control" role="button" onKeypress="alert('asdasdasdasd')" tabindex="0" ng-keydown="myFunct($event)" ng-click="scrollImage('left')" data-slide="prev" style="left:-20px;">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" role="button" ng-click="scrollImage('right')" tabindex="0" data-slide="next" style="right:-20px;">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </span>
</script>
</span>
</body>
</html>