<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div >
    <div class="container-fluid"  id="reviews-page">
        <div class="text-right">
            <button class="btn btn-primary" ng-click="open('lg')">Write a Review</button>

        </div>
    <div class="row" scroll>
        <span ng-repeat="reviewItem in reviewsData" >
            <div class="review-block col-sm-12 outer-block" style="margin-bottom: 0% !important;">
                <div class="inner-block-text">
                    <h4 class="col-sm-10" >{{reviewItem.title}}
                        <b><span style="color:#E59400">{{reviewItem.time | date : "MMM dd, yyyy"}}</span></b>
                    </h4>
                </div>
                <div class="col-sm-9">
                    {{reviewItem.review}}
                </div>
                <div class="col-sm-3">
                    <span starrating class="star-rating" time="reviewItem.time" rating="reviewItem.rating" ></span>
                </div>
            </div>
        </span>

    </div>
        <div class="col-lg-12 text-center" style="margin-bottom: 5%">
            <hr class="primary">
            <button class="btn btn-primary" ng-click="more()">load more...</button>
        </div>
        </div>


</div>



<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header text-center">
            <span ng-class="{'status-success':responseStatus,'validation-fail':!responseStatus}"></span>
            <h3 class="modal-title">Write your Review, how did you find our place</h3>
        </div>
        <div class="modal-body">
            <div class="text-center">
            <h4>How do you rate our property</h4>

                <span starrating class="star-rating" rating="ratedValue" ></span>
                {{selectedIndex}}
                        <span class="validation-fail" ng-show="starValidateFail">Please select stars to rate</span>
            </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" ng-model="titleText" class="form-control" id="exampleInputEmail1" placeholder="Write title">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Your review</label>
                    <textarea id="message" ng-model="message" ng-class="{'validation-fail-input':messageValidateFail}" class="form-control" rows="5" id="exampleInputFile" placeholder="Write your review"/>
                    <span class="validation-fail" ng-show="messageValidateFail">Please write a review</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
</body>
</html>