	
	@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
	@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

	body 
	{
        background-color: #f4f4f4;
        color: #5a5656;
        font-family:'Exo', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
    }
    
    a 
    {
        text-decoration: none;
    }

    h1 
    {
        font-size: 1em;
    }

    h1, p 
    {
        margin-bottom: 10px;
    }

    strong 
    {
        font-weight: bold;
    }
    
    uppercase 
    {
        text-transform: uppercase;
    }

    #login 
    {
        margin: 50px auto;
        width: 400px;
    }
    
    form input[type="text"], input[type="password"] 
    {
        background-color: #e5e5e5;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #5a5656;
        font-family:'Exo', sans-serif;
        font-size: 14px;
        height: 35px;
        outline: none;
        padding: 0px 10px;
        width: 300px;
        -webkit-appearance: none;
    }
    
    form input[type="textarea"] 
    {
        background-color: #e5e5e5;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #5a5656;
        font-family:'Exo', sans-serif;
        font-size: 14px;
        
        outline: none;
        
        -webkit-appearance: none;
        white-space: nowrap;
    	overflow:    scroll;
    	overflow-y:  hidden;
    	overflow-x:  scroll;
    	overflow:    -moz-scrollbars-horizontal;
    	word-wrap: hard;
    }


    form input[type="submit"] 
    {
        background-color: #008dde;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #f4f4f4;
        cursor: pointer;
        font-family:'Exo', sans-serif;
        height: 30px;
        text-transform: uppercase;
        -webkit-appearance: none;
    }

    form a 
    {
        color: #5a5656;
        font-size: 10px;
    }
    

	input[type="button"] 
    {
        background-color: #008dde;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #f4f4f4;
        cursor: pointer;
        font-family:'Exo', sans-serif;
        height: 30px;
        text-transform: uppercase;
        
        -webkit-appearance: none;
    }

	button
    {
        background-color: #008dde;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #f4f4f4;
        cursor: pointer;
        font-family:'Exo', sans-serif;
        height: 30px;
        text-transform: uppercase;
        
        -webkit-appearance: none;
    }

	select
    {
        background-color: #e5e5e5;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #5a5656;
        font-family:'Exo', sans-serif;
        font-size: 14px;
        height: 35px;
        outline: none;
        padding: 0px 10px;
        width: 300px;
        -webkit-appearance: none;
    }
    
	#page-wrap 
	{
 		width: 1024px;
 		margin: 0 auto;
	}

	{padding:0; margin:0;}

    html 
    {
        padding:15px 15px 0;
        font-family:'Exo', sans-serif;
        font-size:14px;
    }

    p, h3 
    {
        margin-bottom:15px;
    }

    div 
    {
        padding:10px;
        background:#fff;
    }

    .tabss li 
    {
        list-style:none;
        display:inline;
    }

    .tabss a 
    {
        padding:5px 10px;
        display:inline-block;
        background:#666;
        color:#fff;
        text-decoration:none;
    }

    .tabss li.active a
    {
        background:#f0f;
    }
   
    .tab_content 
    {
        display: none;
    }
    
	.logoutLblPos
	{
	   position:fixed;
	   right:10px;
	   top:5px;
	   font-family:'Exo', sans-serif;
	}
