<div class="row admin-page">
    <div class="col-lg-12 ">

        <form role="form">
            <div class="form-group">
                <label>About</label>
                <text-angular ng-model="aboutData.about"></text-angular>
            </div>
            <div class="form-group">
                <label>Description</label>
                <text-angular ng-model="aboutData.remarks"></text-angular>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" ng-click="postData()">Save</button>
            </div>
            </form>
    </div>
</div>