<div class="row admin-page">
    <div class="col-lg-6">
        <form role="form">
            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" rows="6" ng-model="contactData.address"></textarea>
            </div>
            <div class="form-group">
                <label>Phone-1</label>
                <input class="form-control" ng-model="contactData.contact1">
            </div>
            <div class="form-group">
                <label>Phone-2</label>
                <input class="form-control" ng-model="contactData.contact2">
            </div>
            <div class="form-group">
                <label>Phone-3</label>
                <input class="form-control" ng-model="contactData.contact3">
            </div>
        </form>
        </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Email Address</label>
            <input class="form-control" ng-model="contactData.email">
        </div>
        <div class="form-group">
            <label>Twitter</label>
            <input class="form-control" ng-model="contactData.twtterlink">
        </div>
        <div class="form-group">
            <label>Facebook</label>
            <input class="form-control" ng-model="contactData.facebooklink">
        </div>
        <div class="form-group">
            <label>Google Plus</label>
            <input class="form-control" ng-model="contactData.googlepluslink">
        </div>
    </div>

    <div class="text-right col-lg-10">
        <button type="submit" class="btn btn-primary" ng-click="postContactData()">Save</button>
    </div>
    </div>