<div class="container-fluid admin-page">

    <!-- Page Heading -->

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-text fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="lead">About Information</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-phone-square fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="lead">Contact Information</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-image fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="lead">Images</div>

                        </div>
                    </div>
                    <hr></hr>
                    <div class="row">
                        <div class="col-xs-4">Album</div>
                        <div class="col-xs-4">Scroller</div>
                        <div class="col-xs-4">Background</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-2x">Manage Inbox</i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>New messages</div>
                        </div>
                    </div>
                </div>
                <span>New Messages</span>
                <table class="table">
                    <tr>
                        <th class="col-sm-3">Name</th>
                        <th class="col-sm-6">Message</th>
                        <th class="col-sm-3">Phone</th>
                    </tr>
                    <tr>
                        <td>Akshay</td>
                        <td>Test msg.... </td>
                        <td>9742916080</td>
                    </tr>
                    <tr>
                        <td>Akshay</td>
                        <td>Test msg.... </td>
                        <td>9742916080</td>
                    </tr>
                    <tr>
                        <td>Akshay</td>
                        <td>Test msg.... </td>
                        <td>9742916080</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-2x">Manage Reviews</i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>New Reviews</div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>New Ratings</th>
                    </tr>
                    <tr>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->

    <!-- /.row -->

</div>