<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script>


        $(document).ready(function() {
            $('#myCarousel').carousel().emulateTransitionEnd(3000);
        });

</script>
<style>
    .carousel-inner > .item > img{
        width: 100%;
        height:400px;
    }
</style>
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">


    <!-- Wrapper for slides -->
    <div ng-class="{'carousel-inner':true}" role="listbox">
        <div ng-repeat="image in carouselImages" ng-class="{item:true, active:$index==0}" style="height: 400px;">
            <img ng-src="{{image}}" height="400px">
        </div>
<!--
        <div class="item" style="height: 400px;">
            <img src="img/carousel/DSC_0917.JPG" height="400px" alt="Chania">
        </div>

        <div class="item" style="height: 400px;">
            <img src="img/carousel/DSC_0936.JPG"  height="400px" alt="Flower">
        </div>

        <div class="item" style="height: 400px;">
            <img src="img/carousel/DSC_0951.JPG"  height="400px" alt="Flower">
        </div>
        <div class="item" style="height: 400px;">
            <img src="img/carousel/DSC_0964.JPG"  height="400px" alt="Flower">
        </div>
        <div class="item" style="height: 400px;">
            <img src="img/carousel/DSC_0985.JPG"  height="400px" alt="Flower">
        </div>
        <div class="item" style="height: 400px;">
            <img src="img/carousel/DSC_0987.JPG"  height="400px" alt="Flower">
        </div>-->
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="display: none">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="display: none">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</body>
</html>