<div>
    <div class="row text-right" style="padding: 1%">
        <span class="" style="position: relative">
        <input type="file" ng-model="fileName" multiple filereader="" id="file" class="inputfile" onchange="angular.element(this).scope().onImageSelect(this)" />
        <label for="file" class="btn btn-primary"><span class="fa fa-upload"></span> Choose a file</label>
        </span>
        <span class="">
            <button class="btn btn-danger" ng-click="onImageSelect()"><span class="fa fa-remove"></span> Delete Selected</button>
        </span>
    </div>
    <div class="container-fluid" style="background-color: white">
        <div class="row no-gutter">
            <span ng-repeat="image in images">
                <div class="gallery-col col-sm-3 mouseHover" style="padding: 1%">
                    <img ng-src="{{image.imgSrc}}" width="100%" class="img-responsive" ng-class="{'selectImage' : image.imageSelected}" ng-click="selectImage(image)" alt="">
                    <div class="row text-right col-sm-12 background-button-group">
                        <button class="btn image-button-link-class text-left" style="color: red" ng-click="window.alert('hello!')" > <div class="glyphicon glyphicon-remove "></div><div></div></button>
                   </div>
                    <span class="fa fa-check fa-5x selectIndicator" ng-show="image.imageSelected"></span>
                </div>
            </span>
        </div>
    </div>
    <script type="text/ng-template" id="uploaderPopUp" style="margin-top:2% !important">
        <div class="modal-body">
            <div class="text-center">
                <div class="row no-gutter" style="height: 400px; display: block; position: static; overflow-y: scroll; padding: 5%;">
                    <span ng-repeat="img in image_source">
                        <div class="gallery-col col-sm-3 mouseHover preview-img" style="padding: 1%">
                            <img ng-src="{{img}}" class="img-responsive " width="225" height="180"/>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="post()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
