<div>
    <div class="row text-right" style="padding: 1%">
        <span class="" style="position: relative">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file" class="btn btn-primary"><span class="fa fa-upload"></span> Choose a file</label>
        </span>
        <span class="">
            <button class="btn btn-danger"><span class="fa fa-remove"></span> Delete Selected</button>
        </span>
    </div>
    <div class="container-fluid" style="background-color: white">
        <div class="row no-gutter">

            <div class="gallery-col col-sm-11" style="padding: 1% 1%;">
                <img src="./../img/gallery/DSC_0894.JPG" width="" class="img-responsive" ng-click="getFullImage(image, 'lg')" alt="">
            </div>
        </div>
    </div>
</div>