<table class="table table-bordered table-striped">
    <thead class="row" style="">
        <span class="col-lg-4" style="font-size: larger; margin-bottom:10px; font-weight: bolder"> Inbox </span>
        <span class="text-right col-lg-8">
            <button class="btn btn-danger" ng-click="deleteSelected()">Delete Selected</button>
            <button class="btn btn-primary" ng-click="markAsRead()">Mark as Read</button>
        </span>
    </thead>
    <tr>
        <th><select ng-model="selector"  style="width: 20px;">
            <option value="selectAll">Select All</option>
            <option value="unSelectAll">Unselect All</option>
        </select></th>
        <th class="col-sm-2">Name</th>

        <th class="col-sm-2">Phone</th>

        <th class="col-sm-2">Email</th>

        <th class="col-sm-4">Message</th>
        <th class="col-sm-2">Time</th>
    </tr>
    <!--
     address
            custName
            email
            id
            phone
            visitTime
     -->
    <tbody ng-repeat="customer in customerContacts">
        <tr class="hightlightOnHover" ng-class="{unRead:customer.readFlag=='0'}" >
            <td><input type="checkbox" ng-model="customer.check" ng-checked="customer.check"></td>
            <td class="mouseHover "><span ng-bind="customer.custName"></span></td>
            <td class="mouseHover"><span ng-bind="customer.phone"></span></td>
            <td class="mouseHover"><span ng-bind="customer.email"></span></td>
            <td class="responsiveTd mouseHover"><span ng-bind="customer.address"></span></td>
            <td class="mouseHover"><span ng-bind="customer.visitTime"></span></td>
        </tr>
    </tbody>
</table>
<script type="text/ng-template" id="confirmDialogue">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">
            <div>Please confirm before deleting the record</div>
        </div>
        <div class="row text-center" style="padding: 5%">
            <span class="col-md-2">&nbsp;</span>
            <span class="col-md-4 text-center">
                <button class="btn btn-primary" ng-click="ok()">Ok</button>
            </span>
            <span class="col-md-4 text-center">
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </span>
            <span class="col-md-2">&nbsp;</span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="noSelectionPrompt">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">
            <div>Please select at least one record to complete the action</div>
        </div>
        <div class="row text-center" style="padding: 5%">
            <span class="col-md-12 text-center">
                <button class="btn btn-primary" ng-click="cancel()">Ok</button>
            </span>
        </div>
    </div>
</script>