<table class="table table-bordered table-striped">
    <thead class="row" style="">
    <span class="col-lg-4" style="font-size: larger; margin-bottom:10px; font-weight: bolder"> Inbox </span>
        <span class="text-right col-lg-8">
            <button class="btn btn-danger" ng-click="deleteSelected()">Delete Selected</button>
            <button class="btn btn-primary" ng-click="markAsRead()">Mark as Read</button>
        </span>
    </thead>
    <tr>
        <th><select ng-model="selector" style="width: 20px;">
            <option value="selectAll">Select All</option>
            <option value="unSelectAll">Unselect All</option>
        </select></th>
        <th class="col-sm-2">Title</th>

        <th class="col-sm-4">Review</th>

        <th class="col-sm-3">Rating</th>

        <th class="col-sm-2">Date</th>
        <th class="col-sm-1">Actions</th>
    </tr>
    <tbody ng-repeat="review in reviewsData">
        <tr class="hightlightOnHover" ng-class="{unRead:review.readFlag=='0'}" style="overflow: hidden; height: 30px">
            <td><input type="checkbox" ng-model="review.check" ng-checked="selectAll"></td>
            <td class="mouseHover"><span ng-bind="review.title"></span></td>
            <td class="responsiveTd mouseHover"><span ng-bind="review.review"></span></td>
            <td class="mouseHover"><span starrating class="star-rating" time="123" rating="review.rating" ></span></td>
            <td class="mouseHover"><span ng-bind="review.time|date : 'MMM dd, yyyy'"></span></td>
            <td class="mouseHover"><button class="btn btn-danger" ng-click="delete(review)">Delete</button></td>
        </tr>
    </tbody>
</table>
<script type="text/ng-template" id="confirmDialogue">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">
            <div>Please confirm before deleting the record</div>
        </div>
        <div class="row text-center" style="padding: 5%">
            <span class="col-md-2">&nbsp;</span>
            <span class="col-md-4 text-center">
                <button class="btn btn-primary" ng-click="ok()">Ok</button>
            </span>
            <span class="col-md-4 text-center">
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </span>
            <span class="col-md-2">&nbsp;</span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="noSelectionPrompt">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">
            <div>Please select at least one record to complete the action</div>
        </div>
        <div class="row text-center" style="padding: 5%">
            <span class="col-md-12 text-center">
                <button class="btn btn-primary" ng-click="cancel()">Ok</button>
            </span>
        </div>
    </div>
</script>