<div>

    <div class="row text-right" style="padding: 1%">
        <span class="" style="position: relative">
        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file" class="btn btn-primary"><span class="fa fa-upload"></span> Choose a file</label>
        </span>
        <span class="">
            <button class="btn btn-danger"><span class="fa fa-remove"></span> Delete Selected</button>
        </span>
    </div>
    <div class="container-fluid" style="background-color: white">
        <div class="row no-gutter">
            <span ng-repeat="image in images">
                <div class="gallery-col col-sm-3 mouseHover" style="padding: 1%">
                    <img ng-src="{{image.imgSrc}}" width="100%" class="img-responsive" ng-class="{'selectImage' : image.imageSelected}" ng-click="selectImage(image)" alt="">
                    <div class="row text-right col-sm-12 background-button-group">
                        <button class="btn image-button-link-class text-left" style="color: red" ng-click="window.alert('hello!')" > <div class="glyphicon glyphicon-remove "></div><div></div></button>
                    </div>
                    <span class="fa fa-check fa-5x selectIndicator" ng-show="image.imageSelected"></span>
                </div>
            </span>
        </div>
    </div>
</div>