.admin-page{
    margin: 2%; background-color: #f1f1f1; padding: 5%;
}
.admin-menu>li>a {
    color: #ffffff !important;
    font-size: large;
}
.responsiveTd{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.glyphicon-remove:hover{
    cursor: pointer;
}
.glyphicon-edit:hover{
    cursor: pointer;
}
.gallery-col{
    position: relative;
}
.gallery-col:hover .background-button-group{
    position: relative;
}
.background-button-group{
    position: relative;
    left:15px;
    color: #efefef;
    display: block;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #5e5e5e;
}
.background-image-effects{
    top: 50px;
    right: 20px;
}
.album-image-effects{
    bottom: 20px;
    right: 30px;
}
.image-button-link-class{
    background: none;
    color: grey;
    text-align: center;
    text-decoration: underline;
 }
.image-button-link-class:hover{
    cursor: pointer;
    background-color: white;
    color: grey;
    text-align: center;

}
.selectImage{
    opacity: 0.5;
}
.mouseHover:hover{
    cursor: pointer;
}
.hightlightOnHover:hover{
    background-color: #e5e5e5 !important;
}
.img-responsive{
    position: relative;
}
.selectIndicator{
    position: absolute;
    top: 20px;
    left:20px;
}
/*.custom-file-upload input[type="file"]{
    position: absolute;
    opacity: 0;
    width:0.1px;
    height:0.1px;
    filter: alpha(opacity=0);
    cursor: pointer;
}*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 14px;
    color: white;
    background-color: #337ab7;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #2e6da4;
}
.ta-editor{
    height: 300px;
}
.ta-editor:focus{
    height: 300px;
}
.filled {
    color: #ffc520;
}
.reduceFont{
    font-size: 8px !important;
}
.glyphicon.glyphicon-star:hover{
    cursor: pointer;
}
.unRead{
    background-color: #e2e2e2 !important;
}
.modalConfirm{
    margin-top: 15%;
}
.preview-img{
    max-width: 25%;
    min-width: 25%;
    max-height: 130px;
    min-height: 130px;
    overflow: hidden;
}